<header class="header">
  <nav id="nav" class="header-nav">
    <label for="show-menu" class="show-menu">Menu</label>
    <input id="show-menu" type="checkbox" role="button">
    <div class="header-responsive-logo"><img src="<%= image_path('logo.png')%>" class="header-logo-img"></div>
    <div class="header-responsive-phone">
      <div class="icon-phone header-icon"> </div>
      <div class="header-list-item-phone">11 5643 7885</div>
    </div>
    <ul id="menu" class="header-list">
      <li class="header-logo-container"><a href="/"><img src="<%= image_path('logo.png') %>" class="header-logo-img"></a></li>
      <li class="header-list-item"><a href="/iprop-online" class="header-list-item-link">Propiedades</a></li>
      <li class="header-list-item"><a href="/tasaciones" class="header-list-item-link">Tasaciones</a></li>
      <li class="header-list-item"><a href="/empresa" class="header-list-item-link">Empresa</a></li>
      <li class="header-list-item"><a href="/consultoria" class="header-list-item-link">Consultoría</a></li>
      <li class="header-list-item"><a href="/contacto" class="header-list-item-link">Contacto</a></li>
      <li class="header-list-item">
        <div class="icon-phone header-icon"> </div>
        <div class="header-list-item-phone">11 4776 7176      </div>
      </li>
    </ul>
  </nav>
  </header>
  <section class="tasaciones">
  <div class="tasaciones-title-container">
    <h1 class="tasaciones-title">El éxito de una operación inmobiliaria depende en gran parte de una buena tasación</h1>
  </div>
  <div class="tasaciones-form">
    <label required class="tasaciones-form-label">Nombre:</label>
    <input class="tasaciones-form-input"><br>
    <label required class="tasaciones-form-label">E-mail:</label>
    <input class="tasaciones-form-input"><br>
    <label required class="tasaciones-form-label">Teléfono:</label>
    <input class="tasaciones-form-input"><br>
    <label required class="tasaciones-form-label">Dirección:</label>
    <input class="tasaciones-form-input"><br>
    <div class="tasaciones-form-group m-r-1em">
      <label required class="tasaciones-form-group-label">Superficie (m2):</label>
      <input class="tasaciones-form-group-input">
    </div>
    <div class="tasaciones-form-group">
      <label required class="tasaciones-form-group-label">Cantidad de ambientes:</label>
      <input class="tasaciones-form-group-input">
    </div>
    <label class="tasaciones-form-label">Comentarios adicionales:</label>
    <textarea rows="5" class="tasaciones-form-input"></textarea>
    <button class="tasaciones-form-button">¡Tasar ya!</button>
  </div>
  </section>
  <section class="tasaciones-text">
  <p class="tasaciones-text-paragraph">Nuestras tasaciones persiguen determinar <span class="tasaciones-text-orange">un valor que facilite la venta de la propiedad </span>en un plazo de tiempo razonable. Una tasación profesional se basa en aplicar determinados criterios que tienen su base no solo en los atributos de la misma, sino también en cómo se está comportando el mercado a la hora de tasar. La experiencia del tasador es un factor de relevancia, ya que las técnicas que utilizan valores comparables son fundamentales para obtener el valor real de la propiedad.</p>
  <p class="tasaciones-text-paragraph">Le haremos una devolución acerca del valor de la propiedad por este medio dentro de las <span class="tasaciones-text-orange">24 horas siguientes de recibida la solicitud.</span></p>
  <p class="tasaciones-text-paragraph">Para ajustar aún más el valor coordine luego con nosotros una visita a su propiedad para poder entregarle una tasación ajustada por escrito y firmada por un profesional.</p>
  <p class="tasaciones-text-small">(*)  Solo se cobran honorarios por las tasaciones cuyo propósito no sea la venta por ejemplo, tasaciones judiciales. </p>
  </section>
  <!--solo para visualización-->
  <section class="tasaciones-valores">
  <div class="tasaciones-valores-img-container"><img src="<%= image_path('tasaciones-valores.png')%>" class="tasaciones-valores-img"></div>
  <button class="tasaciones-valores-button">Descargar Excel</button>
  <%= link_to 'Descargar Excel', appraisals_excel_path(format: "xls") %>
  </section>
  <section class="compartir"> 
  <h2 class="compartir-title">Compartir en redes sociales</h2>
  <div class="compartir-redes">
    <div class="compartir-redes-fb"><span class="icon-facebook m-r-5"></span></div>
    <div class="compartir-redes-twitter"><span class="icon-twitter m-r-5"></span></div>
    <div class="compartir-redes-google"><span class="icon-google m-r-5"></span></div>
    <div class="compartir-redes-linkedin"><span class="icon-linkedin m-r-5"></span></div>
  </div>
  </section>
  <footer class="footer">
  <div class="footer-column2 m-r-5">
    <ul class="footer-list">
      <li class="footer-item"> 
        <div class="footer-item-icon icon-phone"> </div>
        <p class="footer-item-text">(11) 4776‐7176</p>
      </li>
      <li class="footer-item"> 
        <div class="footer-item-icon icon-envelope"> </div>
        <p class="footer-item-text">info@iproponline.com.ar</p>
      </li>
      <li class="footer-item"> 
        <div class="footer-item-icon icon-location"></div>
        <p class="footer-item-text">Teodoro García 1721<br>Of. 704 (C1426DMC) <br>C.A.B.A.</p>
      </li>
    </ul>
  </div>
  <div class="footer-column1 m-r-5">
    <p class="footer-contact">Iprop es una marca registrada de Nestor H. Royo </p>
    <p class="footer-contact">Nestor H. Royo – Matrícula N°</p>
    <div class="footer-img-cuci"><img src="<%= image_path('cucicba.png')%>" class="footer-img"></div>
  </div>
  <div class="footer-column1">
    <div class="footer-img-qr"><a href="http://qr.afip.gob.ar/?qr=5JvULkrJij4qBY0ljYW3NA,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0" width="100px" margin-top="19px"></a></div>
  </div>
  </footer>
  <div class="footer-copyright">
  <p> © Nestor H. Royo 2016</p>
  </div>