<% content_for :head do %>
  <meta property="og:url" content="<%= request.url %>" />    
  <meta property="og:site_name" content="iproponline" />
  <meta property="og:title" content="Empresa">
  <meta property="og:description" content="Iproponline institucional">
  <meta property="og:image" content="<%= image_path('manos-casa.jpg')%>" />
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '648748478636283');
    fbq('track', "PageView");
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=648748478636283&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
<% end %>
<header class="header">
  <nav id="nav" class="header-nav">
    <label for="show-menu" class="show-menu">Menu</label>
    <input id="show-menu" type="checkbox" role="button">
    <div class="header-responsive-logo"><img alt="logo" src="<%=image_path('logo.png')%>" class="header-logo-img"></div>
    
    <ul id="menu" class="header-list">
      <li class="header-logo-container"><a href="/"><img alt="logo" src="<%= image_path('logo.png') %>" class="header-logo-img"></a></li>
      <li class="header-list-item"><a href="/" class="header-list-item-link">Home</a></li>
      <li class="header-list-item"><a href="/propiedades" class="header-list-item-link">Propiedades</a></li>
      <li class="header-list-item"><a href="/tasaciones" class="header-list-item-link">Tasaciones</a></li>
      <li class="header-list-item"><a href="/empresa" class="header-list-item-link">Empresa</a></li>
      <li class="header-list-item"><a href="/consultoria" class="header-list-item-link">Consultoría</a></li>
      <li class="header-list-item"><a href="/contacto" class="header-list-item-link">Contacto</a></li>
      
    </ul>
  </nav>
</header>
<section class="empresa-cover">
  <h1 class="empresa-cover-title">Experiencia y compromiso a su servicio</h1>
</section>
<section class="empresa-text">
  <p class="empresa-text-paragraph">Somos una empresa con foco en el real estate y nuestra principal característica es que brindamos un servicio totalmente profesional y personalizado. Utilizamos lo último en tecnología para lograr una mayor eficacia a la hora de prestar nuestros servicios. </p>
  <ul class="empresa-text-paragraph empresa-text-list"> 
    <li class="empresa-text-list-item">Abarcamos compras, ventas y alquileres de unidades residenciales, casas, departamentos, cocheras, countries, barrios cerrados y guarderías náuticas, también compra y venta de terrenos.</li>
    <li class="empresa-text-list-item">Ponemos foco en establecimientos industriales, depósitos, locales comerciales, fondos de comercio, oficinas y estacionamientos. </li>
    <li class="empresa-text-list-item">También comercializamos todo tipo de desarrollos inmobiliarios, de pozo y construidos, residenciales y comerciales.</li>
  </ul>
  <div class="empresa-text-destacado-casa"></div>
  <p class="empresa-text-destacado">Nuestra idea nace a partir de la necesidad de muchos amigos y contactos en general que, cuando tenían que hacer un negocio inmobiliario, se encontraban con que el más importante de sus activos era tratado como una mercadería más, algo que es totalmente contrario a nuestra filosofía de negocios.</p>
  <div class="empresa-text-destacado-escucha"></div>
  <p class="empresa-text-destacado">Nuestra principal virtud es saber escuchar e interpretar las necesidades de nuestros clientes y  atenderlos a todos con la misma dedicación, sin importar la envergadura del negocio en el cual nos pidan intermediar.</p>
</section>
<div class="empresa-mvv">
  <div class="empresa-mvv-item">
    <div class="empresa-mvv-img-container"><img alt="mision" src="<%=image_path('mision.png')%>" class="empresa-mvv-img"></div>
    <h3 class="empresa-mvv-title">Misión</h3>
    <p class="empresa-mvv-copy">Nuestra Misión es brindar a nuestros clientes servicios de valor agregado que satisfagan en todo sus expectativas. </p>
  </div>
  <div class="empresa-mvv-item"> 
    <div class="empresa-mvv-img-container"><img alt="vision" src="<%=image_path('vision.png')%>" class="empresa-mvv-img"></div>
    <h3 class="empresa-mvv-title">Visión</h3>
    <p class="empresa-mvv-copy">Nuestras visión se basa en ser reconocidos por nuestros clientes por resultados sólidos en relación al servicio que nos tocó prestarles.</p>
  </div>
  <div class="empresa-mvv-item"> 
    <div class="empresa-mvv-img-container"><img alt="valores" src="<%=image_path('valores.png')%>" class="empresa-mvv-img"></div>
    <h3 class="empresa-mvv-title">Valores</h3>
    <p class="empresa-mvv-copy">Brindar a nuestros clientes una visión contextual más que dogmática, ayudándolos a tomar decisiones basadas en cuestiones objetivas que surjan de escuchar opiniones y comunicar de forma sincera y abierta, manteniendo nuestro absoluto compromiso con la ética, la honestidad y la integridad.</p>
  </div>
</div>
<section class="compartir"> 
  <%= render 'shared/social_media' %>
</section>
<%= render partial:'shared/footer' %>