<header class="header">
  <nav id="nav" class="header-nav">
    <label for="show-menu" class="show-menu">Menu</label>
    <input id="show-menu" type="checkbox" role="button">
    <div class="header-responsive-logo"><img src="<%=image_path('logo.png')%>" class="header-logo-img"></div>
    <div class="header-responsive-phone">
      <div class="icon-phone header-icon"> </div>
      <div class="header-list-item-phone">11 5643 7885</div>
    </div>
    <ul id="menu" class="header-list">
      <li class="header-logo-container"><a href="/"><img src="<%= image_path('logo.png') %>" class="header-logo-img"></a></li>
      <li class="header-list-item"><a href="/propiedades" class="header-list-item-link">Propiedades</a></li>
      <li class="header-list-item"><a href="/tasaciones" class="header-list-item-link">Tasaciones</a></li>
      <li class="header-list-item"><a href="/empresa" class="header-list-item-link">Empresa</a></li>
      <li class="header-list-item"><a href="/consultoria" class="header-list-item-link">Consultoría</a></li>
      <li class="header-list-item"><a href="/contacto" class="header-list-item-link">Contacto</a></li>
      <li class="header-list-item">
        <div class="icon-phone header-icon"> </div>
        <div class="header-list-item-phone">11 4776 7176      </div>
      </li>
    </ul>
  </nav>
</header>
<section class="empresa-cover">
  <h1 class="empresa-cover-title">Experiencia y compromiso a su servicio</h1>
</section>
<section class="empresa-text">
  <p class="empresa-text-paragraph">Somos una empresa boutique con foco en el real estate y nuestra principal característica es que brindamos un servicio totalmente profesional y personalizado. Utilizamos lo último en tecnología para lograr una mayor eficacia a la hora de prestar nuestros servicios. </p>
  <ul class="empresa-text-paragraph empresa-text-list"> 
    <li class="empresa-text-list-item">Abarcamos compras, ventas y alquileres de unidades residenciales, casas, departamentos, cocheras, countries, barrios cerrados y guarderías náuticas, también compra y venta de terrenos.</li>
    <li class="empresa-text-list-item">Ponemos foco en establecimientos industriales, depósitos, locales comerciales, fondos de comercio, oficinas y estacionamientos. </li>
    <li class="empresa-text-list-item">También comercializamos todo tipo de desarrollos inmobiliarios, de pozo y construidos, residenciales y comerciales.</li>
  </ul>
  <div class="empresa-text-destacado-casa"></div>
  <p class="empresa-text-destacado">Nuestra idea nace a partir de la necesidad de muchos amigos y contactos en general que, cuando tenían que hacer un negocio inmobiliario, se encontraban con que el más importante de sus activos era tratado como una mercadería más, algo que es totalmente contrario a nuestra filosofía de negocios.</p>
  <div class="empresa-text-destacado-escucha"></div>
  <p class="empresa-text-destacado">Nuestra principal virtud es saber escuchar e interpretar las necesidades de nuestros clientes y  atenderlos a todos con la misma dedicación, sin importar la envergadura del negocio en el cual nos pidan intermediar.</p>
</section>
<div class="empresa-mvv">
  <div class="empresa-mvv-item">
    <div class="empresa-mvv-img-container"><img src="<%=image_path('mision.png')%>" class="empresa-mvv-img"></div>
    <h3 class="empresa-mvv-title">Misión</h3>
    <p class="empresa-mvv-copy">Nuestra Misión es brindar a nuestros clientes servicios de valor agregado que satisfagan en todo sus expectativas. </p>
  </div>
  <div class="empresa-mvv-item"> 
    <div class="empresa-mvv-img-container"><img src="<%=image_path('vision.png')%>" class="empresa-mvv-img"></div>
    <h3 class="empresa-mvv-title">Visión</h3>
    <p class="empresa-mvv-copy">Nuestras visión se basa en ser reconocidos por nuestros clientes por resultados sólidos en relación al servicio que nos tocó prestarles.</p>
  </div>
  <div class="empresa-mvv-item"> 
    <div class="empresa-mvv-img-container"><img src="<%=image_path('valores.png')%>" class="empresa-mvv-img"></div>
    <h3 class="empresa-mvv-title">Valores</h3>
    <p class="empresa-mvv-copy">Brindar a nuestros clientes una visión contextual más que dogmática, ayudándolos a tomar decisiones basadas en cuestiones objetivas que surjan de escuchar opiniones y comunicar de forma sincera y abierta, manteniendo nuestro absoluto compromiso con la ética, la honestidad y la integridad.</p>
  </div>
</div>
<section class="compartir"> 
  <h2 class="compartir-title">Compartir en redes sociales</h2>
  <div class="compartir-redes">
    <div class="compartir-redes-fb"><span class="icon-facebook m-r-5"></span></div>
    <div class="compartir-redes-twitter"><span class="icon-twitter m-r-5"></span></div>
    <div class="compartir-redes-google"><span class="icon-google m-r-5"></span></div>
    <div class="compartir-redes-linkedin"><span class="icon-linkedin m-r-5"></span></div>
  </div>
</section>
<footer class="footer">
  <div class="footer-column2 m-r-5">
    <ul class="footer-list">
      <li class="footer-item"> 
        <div class="footer-item-icon icon-phone"> </div>
        <p class="footer-item-text">(11) 4776‐7176</p>
      </li>
      <li class="footer-item"> 
        <div class="footer-item-icon icon-envelope"> </div>
        <p class="footer-item-text">info@iproponline.com.ar</p>
      </li>
      <li class="footer-item"> 
        <div class="footer-item-icon icon-location"></div>
        <p class="footer-item-text">Teodoro García 1721<br>Of. 704 (C1426DMC) <br>C.A.B.A.</p>
      </li>
    </ul>
  </div>
  <div class="footer-column1 m-r-5">
    <p class="footer-contact">Iprop es una marca registrada de Nestor H. Royo </p>
    <p class="footer-contact">Nestor H. Royo – Matrícula N°</p>
    <div class="footer-img-cuci"><img src="<%=image_path('cucicba.png')%>" class="footer-img"></div>
  </div>
  <div class="footer-column1">
    <div class="footer-img-qr"><a href="http://qr.afip.gob.ar/?qr=5JvULkrJij4qBY0ljYW3NA,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0" width="100px" margin-top="19px"></a></div>
  </div>
</footer>
<div class="footer-copyright">
  <p> © Nestor H. Royo 2016</p>
</div>