<head>
  <% content_for :head do %>
    <meta property="og:url" content="<%= request.url %>" />    
    <meta property="og:site_name" content="Iprop Online" />
    <meta property="og:title" content="Consultoría">
    <meta property="og:description" content="Iproponline consultoría">
    <meta property="og:image" content="<%= image_path('consultoria.jpg')%>" />
  <% end %>
</head>
<header class="header">
  <nav id="nav" class="header-nav">
    <label for="show-menu" class="show-menu">Menu</label>
    <input id="show-menu" type="checkbox" role="button">
    <div class="header-responsive-logo"><a href="/"><img src="<%= image_path('logo.png') %>" class="header-logo-img"></a></div>
    <div class="header-responsive-phone">
      <div class="icon-phone header-icon"> </div>
      <div class="header-list-item-phone">11 4776 7176</div>
    </div>
    <ul id="menu" class="header-list">
      <li class="header-logo-container"><a href="/"><img src="<%= image_path('logo.png') %>" class="header-logo-img"></a></li>
      <li class="header-list-item"><a href="/" class="header-list-item-link">Home</a></li>
      <li class="header-list-item"><a href="/propiedades" class="header-list-item-link">Propiedades</a></li>
      <li class="header-list-item"><a href="/tasaciones" class="header-list-item-link">Tasaciones</a></li>
      <li class="header-list-item"><a href="/empresa" class="header-list-item-link">Empresa</a></li>
      <li class="header-list-item"><a href="/consultoria" class="header-list-item-link">Consultoría</a></li>
      <li class="header-list-item"><a href="/contacto" class="header-list-item-link">Contacto</a></li>
      <li class="header-list-item">
        <div class="icon-phone header-icon"> </div>
        <div class="header-list-item-phone">11 4776 7176      </div>
      </li>
    </ul>
  </nav>
</header>
<section class="consulting-cover">
  <h1 class="consulting-cover-title">“Crea una causa, no un negocio” <br>Gary Hammel</h1>
</section>
<section class="consulting-content">
  <h1 class="consulting-title">Servicios de consultoría</h1>
  <hr class="consulting-line">
  <div class="consulting-text-img-container"><img src="<%= image_path('consultoria.jpg') %>" class="consulting-text-img"></div>
  <ul class="consulting-item-wrap">
    <li class="empresa-text-list-item">
      <h2 class="consulting-item-subtitle">Búsqueda de Financiación </h2>
      <p class="consulting-item-text">A los clientes que están buscando adquirir una propiedad y necesitan financiación, los asesoramos con respecto a herramientas financieras disponibles. También los asistimos en la preparación de toda la información que se les requiera para aplicar a una línea de crédito.</p>
    </li>
    <li class="empresa-text-list-item">
      <h2 class="consulting-item-subtitle">Inversiones Inmobiliarias</h2>
      <p class="consulting-item-text">Hacemos análisis de posibles inversiones formulando propuestas en base al perfil de cada uno de nuestros clientes.</p>
    </li>
    <li class="empresa-text-list-item">
      <h2 class="consulting-item-subtitle">Asesoramiento Legal e Impositivo</h2>
      <p class="consulting-item-text">Asesoramiento integral en temas del derecho inmobiliario. Asesoramiento y gestión sobre C.O.T.I. e I.T.I., Impuesto de Sellos u otros impuestos que gravan las operaciones inmobiliarias. </p>
    </li>
    <li class="empresa-text-list-item"> 
      <h2 class="consulting-item-subtitle">Administración de Inversiones Inmobiliarias</h2>
      <p class="consulting-item-text">Prestamos servicios de Property Management tanto para clientes locales como clientes del exterior con inversiones en Argentina. </p>
    </li>
  </ul>
  <div class="consulting-text-wrap">
    <h2 class="consulting-subtitle">Asesoramiento Económico Financiero</h2>
    <p class="consulting-text-paragraph"> Asesoramos a aquellos que venden y no están interesados en volver a comprar, sobre cómo invertir el producido de su venta. Analizamos los riesgos de inversión, el rendimiento y el plazo. Brindamos apoyo para la toma decisiones. Para los clientes corporativos realizamos valuaciones de activos y de empresas. Brindamos asesoramiento sobre el contexto económico, mercados financieros y tendencias. Elaboramos  proyectos de inversión, flujos de fondos descontados y toda aquella información que la inversión o la búsqueda de financiación demanden</p>
    <h2 class="consulting-subtitle">Agentes Fiduciarios</h2>
    <p class="consulting-text-paragraph">El sistema de fideicomisos inmobiliarios ha venido demostrando, a través de la demanda, que es la mejor manera de obtener una propiedad por debajo del valor de mercado. Para ello los fiduciantes aportan el capital necesario en un plan preestablecido de cuotas destinado a financiar la compra de la tierra y la ejecución de la obra. Esto le permite, no solo a aquellos que no disponen del dinero en efectivo, adquirir su propiedad de forma financiada y a un menor valor que el de mercado, sino también a los inversores obtener un margen de ganancia con la venta del inmueble. Consúltenos por desarrollos inmobiliarios.</p>
    <p class="consulting-verysmall">(*) Los servicios aquí ofrecidos son independientes del corretaje e intermediación inmobiliaria, están a cargo de profesionales independientes con título habilitante y debidamente matriculados. Los mismos son prestados en el domicilio de sus respectivos estudios. Estos servicios son mencionados aquí con el único propósito de brindar un valor agregado adicional a nuestros clientes.</p>
  </div>
</section>
<section class="compartir"> 
  <h2 class="compartir-title">Compartir en redes sociales</h2>
  <div class="compartir-redes">
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%=request.url%>" target="popup"
    onClick="window.open(this.href, this.target, 'width=600,height=400, top=200, left=300'); return false;"
    title="Compartir en Facebook" class="compartir-redes-fb">
    <span class="icon-facebook m-r-5"></a>
    <a href="http://twitter.com/share?url=<%=request.url%>&text=Iproponline&via=Iprop&hashtags=iprop"
    target="popup" onClick="window.open(this.href, this.target, 
    'width=600,height=400, top=200, left=300'); return false;" 
    title="Tweet" class="compartir-redes-twitter">
    <span class="icon-twitter m-r-5"></span></a>
    <a href="https://plus.google.com/share?url=<%= request.url%>" 
    target="popup" onClick="window.open(this.href, this.target, 
    'width=600,height=400, top=200, left=300'); return false;" 
    title="Compartir en Google+" class="compartir-redes-google">
    <span class="icon-google m-r-5"></span></a>
  </div>
</section>
<footer class="footer">
  <div class="footer-column2 m-r-5">
    <ul class="footer-list">
      <li class="footer-item"> 
        <div class="footer-item-icon icon-phone"> </div>
        <p class="footer-item-text">(11) 4776‐7176</p>
      </li>
      <li class="footer-item"> 
        <div class="footer-item-icon icon-envelope"> </div>
        <p class="footer-item-text">info@iproponline.com.ar</p>
      </li>
      <li class="footer-item"> 
        <div class="footer-item-icon icon-location"></div>
        <p class="footer-item-text">Teodoro García 1721<br>Of. 704 (C1426DMC) <br>C.A.B.A.</p>
      </li>
    </ul>
  </div>
  <div class="footer-column1 m-r-5">
    <p class="footer-contact">Iprop es una marca registrada</p>
    <p class="footer-contact">Nestor H. Royo – Matrícula Nro. 6561</p>
    <div class="footer-img-cuci"><img src="<%= image_path('cucicba.png') %>" class="footer-img"></div>
  </div>
  <div class="footer-column1">
    <div class="footer-img-qr"><a href="http://qr.afip.gob.ar/?qr=5JvULkrJij4qBY0ljYW3NA,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0" width="100px" margin-top="19px"></a></div>
  </div>
</footer>
<div class="footer-copyright">
  <p> © Iprop 2016</p>
</div>