<% content_for :head do %>
  <meta property="og:url" content="<%= request.url %>" />    
  <meta property="og:site_name" content="Iprop Online" />
  <meta property="og:title" content="Contacto">
  <meta property="og:description" content="Iproponline contacto">
  <meta property="og:image" content="<%= image_path('buenos-aires-aerea.jpg')%>" />
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '648748478636283');
    fbq('track', "PageView");
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=648748478636283&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
  <!-- Google Code for Conversiones de Formulario de Contacto Conversion Page -->
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 853475677;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "ksCCCJDr-nAQ3YL8lgM";
    var google_remarketing_only = false;
    /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/853475677/?label=ksCCCJDr-nAQ3YL8lgM&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>
<% end %>
<header class="header">
  <nav id="nav" class="header-nav">
    <label for="show-menu" class="show-menu">Menu</label>
    <input id="show-menu" type="checkbox" role="button">
    <div class="header-responsive-logo"><img alt="logo" src="<%= image_path('logo.png')%>" class="header-logo-img"></div>
    <div class="header-responsive-phone">
      <div class="icon-phone header-icon"> </div>
      <div class="header-list-item-phone">11 4776 7176</div>
    </div>
    <ul id="menu" class="header-list">
      <li class="header-logo-container"><a href="/"><img alt="logo" src="<%= image_path('logo.png') %>" class="header-logo-img"></a></li>
      <li class="header-list-item"><a href="/" class="header-list-item-link">Home</a></li>
      <li class="header-list-item"><a href="/propiedades" class="header-list-item-link">Propiedades</a></li>
      <li class="header-list-item"><a href="/tasaciones" class="header-list-item-link">Tasaciones</a></li>
      <li class="header-list-item"><a href="/empresa" class="header-list-item-link">Empresa</a></li>
      <li class="header-list-item"><a href="/consultoria" class="header-list-item-link">Consultoría</a></li>
      <li class="header-list-item"><a href="/contacto" class="header-list-item-link">Contacto</a></li>
      <li class="header-list-item">
        <div class="icon-phone header-icon"> </div>
        <div class="header-list-item-phone">11 4776 7176      </div>
      </li>
    </ul>
  </nav>
</header>
<section class="contacto-header">
  <h1 class="contacto-header-title">Tu consulta nos interesa</h1>
</section>
<section class="contacto-info-formulario">
  <div class="contact_messages">
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
  <%= form_for :contact_form, url: contact_path, html: {class: "contacto-form"} do |message| %>
    <label required class="contacto-form-label">Nombre:</label>
    <%= message.text_field :name, class: "contacto-form-input" %><br>
    <label required class="contacto-form-label">E-mail:</label>
    <%= message.email_field :email, class: "contacto-form-input"%><br>
    <label required class="contacto-form-label">Teléfono:</label>
    <%= message.text_field :phone, class: "contacto-form-input"%><br>
    <%= message.text_area :message, class: "contacto-form-input", rows: "5", cols: "50"%>
    <%= button_tag 'Enviar', class: "contacto-form-button", data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Enviando..."} %>
  <% end %>
</section>
<%= render partial:'shared/footer' %>