<% content_for :head do %>
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:site_name" content="Iprop Online" />
  <meta property="og:title" content="Iprop Online">
  <meta property="og:image" content="<%= image_path('puerto-madero.jpg')%>" />
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '648748478636283');
    fbq('track', "PageView");
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=648748478636283&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
<% end %>
<header class="header">
  <nav id="nav" class="header-nav">
    <label for="show-menu" class="show-menu">Menu</label>
    <input id="show-menu" type="checkbox" role="button">
    <div class="header-responsive-logo"><a href="/"><img alt="logo" src="<%= image_path('logo.png') %>" class="header-logo-img"></a></div>
    
    <ul id="menu" class="header-list">
      <li class="header-logo-container"><a href="/"><img alt="logo" src="<%= image_path('logo.png') %>" class="header-logo-img"></a></li>
      <li class="header-list-item"><a href="/" class="header-list-item-link">Home</a></li>
      <li class="header-list-item"><a href="/propiedades" class="header-list-item-link">Propiedades</a></li>
      <li class="header-list-item"><a href="/tasaciones" class="header-list-item-link">Tasaciones</a></li>
      <li class="header-list-item"><a href="/empresa" class="header-list-item-link">Empresa</a></li>
      <li class="header-list-item"><a href="/consultoria" class="header-list-item-link">Consultoría</a></li>
      <li class="header-list-item"><a href="/contacto" class="header-list-item-link">Contacto</a></li>
    </ul>
  </nav>
</header>
<!--slider-->
<section class="photo-slider">
  <div class="overlay-darken"></div>
    <div class="slider cycle-slideshow"><img alt="" src="<%= image_path('puerto-madero.jpg')%>" class="photo-slider-img"><img alt="" src="<%= image_path('pileta.jpg')%>" class="photo-slider-img"><img alt="" src="<%= image_path('edificios-estilo.jpg') %>" class="photo-slider-img"><img alt="" src="<%= image_path('livingroom.jpg')%>" class="photo-slider-img"></div>
  <div class="photo-slider-slogan photo-slider-slogan-propiedades">
    <h1 class="photo-slider-slogan-title-propiedades">Transformamos tus ideas en realidad</h1>
  </div>
  <%= form_tag properties_path, method: 'post', class: "buscador" do %>
    <%= select_tag :operation, options_for_select(['Venta', 'Alquiler', 'Alquiler temporal'], params[:operation]), class: "buscador-select buscador-select-01", id: "operation" %>
    <%= select_tag :property_type, options_for_select(Tag.all.collect{ |t| t.name }, params[:property_type]), class: "buscador-select" %>
    <%= text_field_tag :address, params[:address], placeholder: "Buscar por ubicación", class: "buscador-input", autocomplete: "off", id: "searchTextField" %>
    <%= button_tag(type: "submit", class: "buscador-button", name: nil) do %>
      <span class="icon-search buscador-icon"></span>
      Buscar
    <% end %>
  <% end %>
</section>
<!--features-->
<section class="features">
  <div class="features-main">
    <h2 class="features-main-title">Servicios inmobiliarios para clientes residenciales y corporativos</h2>
    <p class="features-main-copy">Contamos con una página Web con buscador y tecnología para manejo de bases de datos. Tenemos posicionamiento en Google y  realizamos campañas en las redes sociales. Tomamos fotografías profesionales de los inmuebles, hacemos videos y los subimos a la página y a nuestro canal de Youtube. Publicamos en portales inmobiliarios para lo cual también subimos fotos y videos. En algunos casos publicamos en diarios, colocamos carteles y establecemos guardias. </p>
  </div>
</section>
<div class="features-item-wrap">
  <div class="features-item">
    <div class="features-icon-container"><img alt="" src="<%= image_path('ionline.svg')%>" class="features-icon"></div>
    <h3 class="features-item-title">Iprop Online</h3>
    <p class="features-item-copy">Aproveche las oportunidades para hacer un buen negocio inmobiliario</p><a href="/propiedades" class="features-item-link">Buscar Propiedades</a>
  </div>
  <div class="features-item">
    <div class="features-logo-container"><img alt="tasaciones" src="<%= image_path('tasaciones.svg')%>" class="features-icon"></div>
    <h3 class="features-item-title">Tasaciones Online</h3>
    <p class="features-item-copy">Conozca el valor de su propiedad para hacer un negocio inmobiliario</p><a href="/tasaciones" class="features-item-link">¡Tasar ya!</a>
  </div>
</div>
<!--destacadas-->
<section class="destacadas">
  <h2 class="destacadas-title">Propiedades destacadas</h2>
  <div class="destacadas-content">
    <% if @featured_properties.present? %>
      <% @featured_properties.each do |property| %>
        <div class="destacadas-item">
          <% if property.video.present? %>
            <div class="video-overlay">
              <div class="destacadas-video-overlay">
                <div class="destacadas-video-play">
                  <% if property.state == "Reservado" %>
                    <img alt="reservado" src="<%= image_path('reservado-diagonal.png') %>" class="overlay-vendido">
                    <img alt="play" src="<%= image_path('play.png')%>" class="destacadas-video-play-img">
                  <% else %>
                    <% if property.state == "Vendido" %>
                      <img alt="vendido" src="<%= image_path('vendido-diagonal.png') %>" class="overlay-vendido">
                      <img alt="play" src="<%= image_path('play.png')%>" class="destacadas-video-play-img">
                    <% else %>
                      <% if property.state == "Alquilado" %>
                        <img alt="alquilado" src="<%= image_path('alquilado-diagonal.png') %>" class="overlay-vendido">
                        <img alt="play" src="<%= image_path('play.png')%>" class="destacadas-video-play-img">
                      <% else %>
                        <% if property.state == "Suspendido" %>
                          <img alt="suspendido" src="<%= image_path('suspendido-diagonal.png') %>" class="overlay-vendido">
                          <img alt="play" src="<%= image_path('play.png')%>" class="destacadas-video-play-img">
                        <% else %>
                          <% if property.state == "A Estrenar" %>
                            <img alt="estrenar"> src="<%= image_path('aestrenar-diagonal.png') %>" class="overlay-vendido">
                            <img alt="play" src="<%= image_path('play.png')%>" class="destacadas-video-play-img">
                          <% else %>
                            <img alt="play" src="<%= image_path('play.png')%>" class="destacadas-video-play-img">
                          <% end %>  
                        <% end %>  
                      <% end %>
                    <% end %> 
                  <% end %>
                </div>
                <% if property.price.present? || property.price_ars.present? %>
                  <% if property.price.present? %>
                    <div class="destacadas-video-price">U$S<%= number_with_delimiter(property.price, delimiter: ".") %></div>
                  <% else %>
                    <div class="destacadas-video-price">$<%= number_with_delimiter(property.price_ars, delimiter: ".") %></div>
                  <% end %>
                <% else %>
                  <div class="destacadas-video-price">Consultar</div>  
                <% end%> 
                <div class="destacadas-state"><%= property.operation %></div>
              </div>
              <div class="destacadas-video-container">
                <iframe src="<%= property.video %>" frameborder="0" allowfullscreen class="destacadas-video"></iframe>
              </div>
            </div>
            <div class="destacadas-img-container"></div>
          <% else %>
            <div class="destacadas-img-container">
              <% if property.state == "Reservado" %>
                <img alt="reservado" src="<%= image_path('reservado-diagonal.png') %>" class="overlay-vendido">
                <img alt="property-image" src="" style="background-image: url('<%= property.pic_1.url(:medium) %>');" class="destacadas-img">
              <% else %>
                <% if property.state == "Vendido" %>
                  <img alt="vendido" src="<%= image_path('vendido-diagonal.png') %>" class="overlay-vendido">
                  <img alt="property-image" src="" style="background-image: url('<%= property.pic_1.url(:medium) %>');" class="destacadas-img">
                <% else %>
                  <% if property.state == "Alquilado" %>
                    <img alt="alquilado" src="<%= image_path('alquilado-diagonal.png') %>" class="overlay-vendido">
                    <img alt="property-image" src="" style="background-image: url('<%= property.pic_1.url(:medium) %>');" class="destacadas-img">
                  <% else %>  
                    <% if property.state == "Suspendido" %>
                      <img alt="suspendido" src="<%= image_path('suspendido-diagonal.png') %>" class="overlay-vendido">
                      <img alt="property-image" src="" style="background-image: url('<%= property.pic_1.url(:medium) %>');" class="destacadas-img">
                    <% else %>
                      <% if property.state == "A Estrenar" %>
                        <img alt="estrenar"> src="<%= image_path('aestrenar-diagonal.png') %>" class="overlay-vendido">
                        <img alt="property-image" src="" style="background-image: url('<%= property.pic_1.url(:medium) %>');" class="destacadas-img">
                      <% else %>
                        <img alt="property-image" src="" style="background-image: url('<%= property.pic_1.url(:medium) %>');" class="destacadas-img">
                      <% end %>  
                    <% end %>
                  <% end %>  
                <% end %> 
              <% end %>
            </div>
            <% if property.price.present? || property.price_ars.present? %>
              <% if property.price.present? %>
                <div class="destacadas-price">U$S<%= number_with_delimiter(property.price, delimiter: ".") %></div>
              <% else %>
                <div class="destacadas-price">$<%= number_with_delimiter(property.price_ars, delimiter: ".") %></div>
              <% end %>
            <% else %>
              <div class="destacadas-price">Consultar</div>  
            <% end%>  
            <div class="destacadas-state"><%= property.operation %></div>  
          <%end%>
          <div class="destacadas-item-info">
            <h3 class="destacadas-item-title"><%= property.title %>,</h3>
            <h4 class="destacadas-item-subtitle"><%= property.address.split(',')[0] %> - <%= property.address.split(',')[1]%></h4>
            <p class="destacadas-item-copy"><%= property.description[0,200] %>...</p>
          </div>
          <%= link_to 'Ver más >>', property_path(property), class: 'destacadas-item-link' %>
        </div>
      <% end %>
    <% else %>
      <p class="destacadas-vacio">No hay propiedades destacadas</p>
    <% end %>
  </div>
</section>
<!--novedades-->
<section class="novedades">
  <% if @posts.present? %>
    <div class="novedades-in">
      <h2 class="novedades-title">Novedades</h2>
      <div class="novedades-content">
        <% @posts.each do |post| %>
          <div class="novedades-item">
            <div class="novedades-img-container"><img alt="post-image"> src=" " style="background-image: url('<%= post.image.url %>');" class="novedades-img"></div>
            <p class="novedades-item-copy"><%= post.title %></p>
            <div class="novedades-item-overlay">
              <%= link_to '+', post_path(post), class: 'novedades-item-mas' %>
            </div>
          </div>
        <% end %>  
      </div>
    </div>
  <% end %>
  <% if @videos.present? %>
    <div class="novedades-videos">
      <h2 class="novedades-title">Videos</h2>
      <div class="novedades-content">
        <% @videos.each do |video| %>
          <% if video.url.present? %>
            <div class="novedades-item">
              <div class="novedades-img-container">
                <iframe src="<%= video.url %>" frameborder="0" allowfullscreen="" class="novedades-video"></iframe>
              </div>
              <p class="novedades-item-copy"><%= video.description %></p>
            </div>
          <% end %>  
        <% end %>  
      </div>  
    </div>
  <% end %>  
</section>  
<section class="compartir"> 
  <%= render 'shared/social_media' %>
</section>
<script type="text/javascript">
  function initialize() {
    var input = document.getElementById('searchTextField');
    var options = {componentRestrictions: {country: 'ar'}};
    new google.maps.places.Autocomplete(input, options);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<%= render partial:'shared/footer' %>