<header class="header">
  <nav id="nav" class="header-nav">
    <label for="show-menu" class="show-menu">Menu</label>
    <input id="show-menu" type="checkbox" role="button">
    <div class="header-responsive-logo"><img src="<%= image_path('logo.png') %>" class="header-logo-img"></div>
    <div class="header-responsive-phone">
      <div class="icon-phone header-icon"> </div>
      <div class="header-list-item-phone">11 5643 7885</div>
    </div>
    <ul id="menu" class="header-list">
      <li class="header-logo-container"><a href="/"><img src="<%= image_path('logo.png') %>" class="header-logo-img"></a></li>
      <li class="header-list-item"><a href="/iprop-online" class="header-list-item-link">Iprop Online</a></li>
      <li class="header-list-item"><a href="/tasaciones" class="header-list-item-link">Tasaciones</a></li>
      <li class="header-list-item"><a href="/empresa" class="header-list-item-link">Empresa</a></li>
      <li class="header-list-item"><a href="/consultoria" class="header-list-item-link">Consultoría</a></li>
      <li class="header-list-item"><a href="/contacto" class="header-list-item-link">Contacto</a></li>
      <li class="header-list-item">
        <div class="icon-phone header-icon"> </div>
        <div class="header-list-item-phone">11 4776 7176      </div>
      </li>
    </ul>
  </nav>
</header>
<section class="novedades">
  <h1 class="novedades-title">Novedades</h1>
  <div class="novedades-main">
    <div class="novedades-main-left">
      <div class="novedades-main-item novedades-main-item-big"><img src="<%= image_path('article1.png') %>" class="novedades-image">
        <h4 class="novedades-main-item-tag">VENTAS</h4>
        <div class="novedades-main-item-copy">
          <h2 class="novedades-main-item-title">Global Resorts Network Grn Putting Timeshares To Shame</h2>
          <p class="novedades-main-item-date"> <span class="icon-clock"> </span>Diciembre 06, 1025</p>
        </div>
        <aa href="noveades-inside.html" class="novedades-item-overlay">
          <div class="novedades-item-mas">+</div>
        </aa>
      </div>
      <div class="novedades-main-item novedades-main-item-small"><img src="<%= image_path('article2.png') %>" class="novedades-image">
        <h4 class="novedades-main-item-tag">VENTAS</h4>
        <div class="novedades-main-item-copy">
          <h2 class="novedades-main-item-title"> Global Resorts Network Grn Putting Timeshares To Shame</h2>
          <p class="novedades-main-item-date"> <span class="icon-clock"> </span>Diciembre 06, 1025</p>
        </div><a href="novedades-inside.html" class="novedades-item-overlay">
          <div class="novedades-item-mas">+</div></a>
      </div>
      <div class="novedades-main-item novedades-main-item-small"><img src="<%= image_path('article3.png') %>" class="novedades-image">
        <h4 class="novedades-main-item-tag">VENTAS</h4>
        <div class="novedades-main-item-copy">
          <h2 class="novedades-main-item-title"> New Ideas For A Low Cost Vacation On Water</h2>
          <p class="novedades-main-item-date"> <span class="icon-clock"> </span>Diciembre 06, 1025</p>
        </div><a href="novedades-inside.html" class="novedades-item-overlay">
          <div class="novedades-item-mas">+</div></a>
      </div>
    </div>
    <div class="novedades-main-right">
      <div class="novedades-main-item novedades-main-item-small"><img src="<%= image_path('article3.png') %>" class="novedades-image">
        <h4 class="novedades-main-item-tag">VENTAS</h4>
        <div class="novedades-main-item-copy">
          <h2 class="novedades-main-item-title"> Global Resorts Network Grn Putting Timeshares To Shame</h2>
          <p class="novedades-main-item-date"><span class="icon-clock"> </span>Diciembre 06, 1025</p>
        </div><a href="novedades-inside.html" class="novedades-item-overlay">
          <div class="novedades-item-mas">+</div></a>
      </div>
      <div class="novedades-main-item novedades-main-item-big"><img src="<%= image_path('article5.png') %>" class="novedades-image">
        <h4 class="novedades-main-item-tag">VENTAS</h4>
        <div class="novedades-main-item-copy">
          <h2 class="novedades-main-item-title"> Tourism Is Back In Full Swing In Cancun Mexico</h2>
          <p class="novedades-main-item-date"> <span class="icon-clock"> </span>Diciembre 06, 1025</p>
        </div>
        <p class="novedades-main-item-video-time">00:39</p><a href="novedades-inside.html" class="novedades-item-overlay">
          <div class="novedades-item-mas">+</div></a>
      </div>
      <div class="novedades-main-item novedades-main-item-small"><img src="<%= image_path('article6.png') %>" class="novedades-image">
        <h4 class="novedades-main-item-tag">DESARROLLOS</h4>
        <div class="novedades-main-item-copy">
          <h2 class="novedades-main-item-title"> Tourism Is Back In Full Swing In Cancun Mexico</h2>
          <p class="novedades-main-item-date">  <span class="icon-clock"> </span>Diciembre 06, 1025</p>
        </div><a href="novedades-inside.html" class="novedades-item-overlay">
          <div class="novedades-item-mas">+</div></a>
      </div>
    </div>
  </div>
</section>
<section class="compartir"> 
  <h2 class="compartir-title">Compartir en redes sociales</h2>
  <div class="compartir-redes">
    <div class="compartir-redes-fb"><span class="icon-facebook m-r-5"></span></div>
    <div class="compartir-redes-twitter"><span class="icon-twitter m-r-5"></span></div>
    <div class="compartir-redes-google"><span class="icon-google m-r-5"></span></div>
    <div class="compartir-redes-linkedin"><span class="icon-linkedin m-r-5"></span></div>
  </div>
</section>
<footer class="footer">
  <div class="footer-column2 m-r-5">
    <ul class="footer-list">
      <li class="footer-item"> 
        <div class="footer-item-icon icon-phone"> </div>
        <p class="footer-item-text">(11) 4776‐7176</p>
      </li>
      <li class="footer-item"> 
        <div class="footer-item-icon icon-envelope"> </div>
        <p class="footer-item-text">info@iproponline.com.ar</p>
      </li>
      <li class="footer-item"> 
        <div class="footer-item-icon icon-location"></div>
        <p class="footer-item-text">Teodoro García 1721<br>Of. 704 (C1426DMC) <br>C.A.B.A.</p>
      </li>
    </ul>
  </div>
  <div class="footer-column1 m-r-5">
    <p class="footer-contact">Iprop es una marca registrada de Nestor H. Royo </p>
    <p class="footer-contact">Nestor H. Royo – Matrícula N°</p>
    <div class="footer-img-cuci"><img src="<%= image_path('cucicba.png') %>" class="footer-img"></div>
  </div>
  <div class="footer-column1">
    <div class="footer-img-qr"><a href="http://qr.afip.gob.ar/?qr=5JvULkrJij4qBY0ljYW3NA,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0" width="100px" margin-top="19px"></a></div>
  </div>
</footer>
<div class="footer-copyright">
  <p> © Nestor H. Royo 2016</p>
</div>