<% content_for :head do %>
  <meta property="og:url" content="<%= request.url %>" />    
  <meta property="og:site_name" content="Iprop Online" />
  <meta property="og:title" content="Tasaciones">
  <meta property="og:description" content="Iproponline tasaciones">
  <meta property="og:image" content="<%= image_path('buenos-aires-aerea.jpg')%>" />
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '648748478636283');
    fbq('track', "Lead");
    fbq('track', "PageView");
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=648748478636283&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
  <!-- Google Code for Conversion de Tasaciones Conversion Page -->
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 853475677;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "T9UmCIbl4XAQ3YL8lgM";
    var google_remarketing_only = false;
    /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/853475677/?label=T9UmCIbl4XAQ3YL8lgM&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>
<% end %>
<header class="header">
<nav id="nav" class="header-nav">
  <label for="show-menu" class="show-menu">Menu</label>
  <input id="show-menu" type="checkbox" role="button">
  <div class="header-responsive-logo"><img alt="logo" src="<%= image_path('logo.png')%>" class="header-logo-img"></div>
  <div class="header-responsive-phone">
    <div class="icon-phone header-icon"> </div>
    <div class="header-list-item-phone">11 4776 7176</div>
  </div>
  <ul id="menu" class="header-list">
    <li class="header-logo-container"><a href="/"><img alt="logo" src="<%= image_path('logo.png') %>" class="header-logo-img"></a></li>
    <li class="header-list-item"><a href="/" class="header-list-item-link">Home</a></li>
    <li class="header-list-item"><a href="/propiedades" class="header-list-item-link">Propiedades</a></li>
    <li class="header-list-item"><a href="/tasaciones" class="header-list-item-link">Tasaciones</a></li>
    <li class="header-list-item"><a href="/empresa" class="header-list-item-link">Empresa</a></li>
    <li class="header-list-item"><a href="/consultoria" class="header-list-item-link">Consultoría</a></li>
    <li class="header-list-item"><a href="/contacto" class="header-list-item-link">Contacto</a></li>
    <li class="header-list-item">
      <div class="icon-phone header-icon"> </div>
      <div class="header-list-item-phone">11 4776 7176      </div>
    </li>
  </ul>
</nav>
</header>
<section class="tasaciones">
  <h1 class="tasaciones-title">El éxito de una operación inmobiliaria depende en gran parte de una buena tasación</h1>
</section>
<div class="contact_messages">
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>
<section class="tasaciones-form-container">
<%= form_for :contact_form, url: appraisals_contact_path, html: {class: "tasaciones-form"} do |message| %>
  <div class="tasaciones-form-left">
    <label required class="tasaciones-form-label"><b class="asterisks">*</b>Nombre:</label>
    <%= message.text_field :name, class: "tasaciones-form-input" %><br>
    <label required class="tasaciones-form-label"><b class="asterisks">*</b>E-mail:</label>
    <%= message.email_field :email, class: "tasaciones-form-input"%><br>
    <label required class="tasaciones-form-label"><b class="asterisks">*</b>Teléfono:</label>
    <%= message.text_field :phone, class: "tasaciones-form-input"%><br>
    <label required class="tasaciones-form-label"><b class="asterisks">*</b>Dirección:</label>
    <%= message.text_field :address, class: "tasaciones-form-input"%><br>
    <div class="tasaciones-form-group m-r-1em">
      <label required class="tasaciones-form-group-label"><b class="asterisks">*</b>Superficie (m2):</label>
      <%= message.number_field :size, class: "tasaciones-form-group-input"%>
    </div>
    <div class="tasaciones-form-group">
      <label required class="tasaciones-form-group-label"><b class="asterisks">*</b>Cantidad de ambientes:</label>
      <%= message.number_field :rooms_amount, class: "tasaciones-form-group-input"%>
    </div>
  </div>
  <div class="tasaciones-form-left">  
    <label class="tasaciones-form-label">Comentarios adicionales:</label>
    <%= message.text_area :comments, class: "tasaciones-form-input tasaciones-form-textarea", rows: "6"%>
    <%= recaptcha_tags %>
    <%= button_tag '¡Tasar ya!', class: "tasaciones-form-button", 
    data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Enviando..."} %>
  </div>  
<% end %>
</section>
<section class="tasaciones-text">
<p class="tasaciones-text-paragraph">Nuestras tasaciones persiguen determinar <span class="tasaciones-text-orange">un valor que facilite la venta de la propiedad </span>en un plazo de tiempo razonable. Una tasación profesional se basa en aplicar determinados criterios que tienen su base no solo en los atributos de la misma, sino también en cómo se está comportando el mercado a la hora de tasar. La experiencia del tasador es un factor de relevancia, ya que las técnicas que utilizan valores comparables son fundamentales para obtener el valor real de la propiedad.</p>
<p class="tasaciones-text-paragraph">Le haremos una devolución acerca del valor de la propiedad por este medio dentro de las <span class="tasaciones-text-orange">24 horas siguientes de recibida la solicitud.</span></p>
<p class="tasaciones-text-paragraph">Para ajustar aún más el valor coordine luego con nosotros una visita a su propiedad para poder entregarle una tasación ajustada por escrito y firmada por un profesional.</p>
<p class="tasaciones-text-small">(*)  Solo se cobran honorarios por las tasaciones cuyo propósito no sea la venta por ejemplo, tasaciones judiciales. </p>
</section>
<section class="compartir"> 
  <%= render 'shared/social_media' %>
</section>
<%= render partial:'shared/footer' %>