<head>
  <%= wicked_pdf_stylesheet_link_tag "pdf-styles" %>
  <%= wicked_pdf_stylesheet_link_tag "normalize" %>
</head>

<div class="pdf-container">
  <h1 class="pdf-title"><%= @property.title %></h1>
  <p class="pdf-direccion">Dirección: <%= @property.address %></p>
  <p class="pdf-precio">
    <%= @property.operation %> 
    <% if @property.price.present? || @property.price_ars.present? %>
      <% if @property.price.present? %>
        - Precio: U$S<%= number_with_delimiter(@property.price, delimiter: ".") %>
      <% else %>
        - Precio: $<%= number_with_delimiter(@property.price_ars, delimiter: ".") %>
      <% end %>    
    <% else %>
      - Precio: Consultar  
    <% end %>
  </p>
  <div class="pdf-data-wrap">
    <% if @property.bedrooms.present? %>
      <p class="pdf-data m-r-1">Dormitorios: <span class="bold"><%= @property.bedrooms %></span></p>
    <% end %>
    <% if @property.bathrooms.present? %>  
      <p class="pdf-data m-r-1">Baños: <span class="bold"><%= @property.bathrooms %></span></p>
    <% end %>
    <p class="pdf-data">Tamaño: <span class="bold"><%= @property.size %>m2</span></p>
  </div>
  <%= wicked_pdf_image_tag (@property.pic_1.url), class: "pdf-property-image" %>
  <h2 class="pdf-subtitle">Descripción</h2> 
  <p class="pdf-copy"><%= @property.description %></p>
  <% if @property.features.present? %>
    <h2 class="pdf-subtitle">Características</h2>
    <ul class="pdf-list">
      <% @property.features.each do |f| %>
        <li class="pdf-item"><%= f.feature %></li>
      <% end %>
    </ul>
  <% end %>  
  <p><span class="bold">Publicación: </span><%= request.url.split('.pdf')[0] %></p>
  <% if @property.flat.present? %>
    <h2 class="pdf-subtitle flat">Planos:</h2>
    <%= wicked_pdf_image_tag (@property.flat.url), class: "pdf-flat-image" %>
  <% end %>
  <footer class="company-footer">
    <p><%= wicked_pdf_image_tag 'logo.png', class: "logo" %></p>
    <p class="company-info">Teodoro García 1721 Of.704 C.A.B.A. <b>Teléfono:</b> (11) 4776-7176</p>
    <p class="company-info"><b>www.iproponline.com.ar - info@iproponline.com.ar</b></p>
  </footer>
</div>
