<head>
  <% content_for :head do %>
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Iprop Online" />
    <meta property="og:title" content="<%= @property.title %>">
    <meta property="og:description" content="<%= @property.description[0,200] %>...">
    <meta property="og:image" content="<%= @property.pic_1.url %>" />
    <meta property="og:title" content="ContWeb">
  <% end %>
</head>
<header class="header">
  <nav id="nav" class="header-nav">
    <label for="show-menu" class="show-menu">Menu</label>
    <input id="show-menu" type="checkbox" role="button">
    <div class="header-responsive-logo"><a href="/"><img src="<%= image_path('logo.png') %>" class="header-logo-img"></a></div>
    <div class="header-responsive-phone">
      <div class="icon-phone header-icon"> </div>
      <div class="header-list-item-phone">11 4776 7176</div>
    </div>
    <ul id="menu" class="header-list">
      <li class="header-logo-container"><a href="/"><img src="<%= image_path('logo.png') %>" class="header-logo-img"></a></li>
      <li class="header-list-item"><a href="/" class="header-list-item-link">Home</a></li>
      <li class="header-list-item"><a href="/propiedades" class="header-list-item-link">Propiedades</a></li>
      <li class="header-list-item"><a href="/tasaciones" class="header-list-item-link">Tasaciones</a></li>
      <li class="header-list-item"><a href="/empresa" class="header-list-item-link">Empresa</a></li>
      <li class="header-list-item"><a href="/consultoria" class="header-list-item-link">Consultoría</a></li>
      <li class="header-list-item"><a href="/contacto" class="header-list-item-link">Contacto</a></li>
      <li class="header-list-item">
        <div class="icon-phone header-icon"> </div>
        <div class="header-list-item-phone">11 4776 7176      </div>
      </li>
    </ul>
  </nav>
</header>
<section class="ficha">
  <div class="ficha-header">
    <div class="ficha-header-wrap">
      <p class="ficha-header-state"><%= @property.operation %></p>
      <h2 class="ficha-header-title"><%=@property.title%></h2>
      <p class="ficha-header-direccion"><%= @property.address.split(',')[0] %> - <%= @property.address.split(',')[1]%></p>
    </div>
    <% if @property.price.present? || @property.price_ars.present? %>
      <% if @property.price.present? %>
        <h2 class="ficha-header-price">U$S<%= number_with_delimiter(@property.price, delimiter: ".") %></h2>
      <% else %>
        <h2 class="ficha-header-price">$<%= number_with_delimiter(@property.price_ars, delimiter: ".") %></h2>
      <% end %>
    <% else %>
      <h2 class="ficha-header-price">Consultar</h2>
    <% end %>
  </div>
  <div class="ficha-tags">
    <div class="ficha-tags-icon"><img src="<%=image_path('tag.png')%>" class="ficha-tags-icon-img"></div>
    <% @property.tags.each do |tag| %>
      <%= form_tag properties_path, method: 'post', class: "ficha-tags-item" do %>
        <%= text_field_tag :property_type, params[:property_type], value: "#{tag.name}", type: "hidden" %>
        <%= button_tag "#{tag.name}", type: "submit", name: nil %>
      <% end %>
    <% end %>
  </div>
  <div class="ficha-slider-wrap">
    <div class="ficha-slider-controls">
      <span id="prev" class="ficha-slider-controls-prev">
      <img src="<%= image_path('left-arrow.png') %>"></span>
      <span id="next" class="ficha-slider-controls-next">
      <img src="<%= image_path('right-arrow.png') %>"></span>
    </div>
    <div data-cycle-prev="#prev" data-cycle-next="#next" class="slider cycle-slideshow ficha-slider">
      <% if @property.pic_1.file? %>
        <img src="<%= @property.pic_1.url %>" class="ficha-slider-img">
      <% end %>  
      <% if @property.pic_2.file? %>
        <img src="<%= @property.pic_2.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_3.file? %>
        <img src="<%= @property.pic_3.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_4.file? %>
        <img src="<%= @property.pic_4.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_5.file? %>
        <img src="<%= @property.pic_5.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_6.file? %>
        <img src="<%= @property.pic_6.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_7.file? %>
        <img src="<%= @property.pic_7.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_8.file? %>
        <img src="<%= @property.pic_8.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_9.file? %>
        <img src="<%= @property.pic_9.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_10.file? %>
        <img src="<%= @property.pic_10.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_11.file? %>
        <img src="<%= @property.pic_11.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_12.file? %>
        <img src="<%= @property.pic_12.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_13.file? %>
        <img src="<%= @property.pic_13.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_14.file? %>
        <img src="<%= @property.pic_14.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_15.file? %>
        <img src="<%= @property.pic_15.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_16.file? %>
        <img src="<%= @property.pic_16.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_17.file? %>
        <img src="<%= @property.pic_17.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_18.file? %>
        <img src="<%= @property.pic_18.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_19.file? %>
        <img src="<%= @property.pic_19.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_20.file? %>
        <img src="<%= @property.pic_20.url %>" class="ficha-slider-img">
      <% end %>
    </div>
  </div>
  <div class="ficha-acciones">
    <%= link_to 'Imprimir ficha', property_path(@property, format: :pdf), target: "_blank", class: "ficha-acciones-imprimir" %>
    <button type="button" class="ficha-acciones-imprimir" data-toggle="modal" data-target="#myModal">Enviar a un amigo</button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="send-to-friend-messages"></div>
          <div class="modal-body">
            <%= form_for :send_to_friend_form, url: send_to_friend_path, html: {class: "ficha-contacto-form send-to-friend-form"}, remote: true do |message| %>
              <label required class="contacto-form-label">Tu nombre completo:</label>
              <%= message.text_field :sender, class: "contacto-form-input" %><br>
              <label required class="contacto-form-label">E-mail del destinatario:</label>
              <%= message.email_field :friend_email, class: "contacto-form-input"%>
              <%= message.text_field :url, value: "#{request.url}", hidden: true %>
              <%= button_tag 'Enviar', class: "contacto-form-button", data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Enviando..."} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ficha-descripcion">
  <h2 class="ficha-descripcion-title">Descripción</h2>
  <p class="ficha-descripcion-short">
    <% if @property.bedrooms.present? %>
      <% if @property.bedrooms == 1 %>
        <strong><%=@property.bedrooms%></strong> Dormitorio / 
      <% else %>
        <strong><%=@property.bedrooms%></strong> Dormitorios / 
      <% end %>    
    <% end %>
    <% if @property.bathrooms.present? %>
      <% if @property.bathrooms == 1 %>
        <strong><%=@property.bathrooms%></strong> Baño / 
      <% else %>
        <strong><%=@property.bathrooms%></strong> Baños / 
      <% end %>  
    <% end %>
    <strong><%=@property.size%></strong> mts2 
  </p>
  <p class="ficha-descripcion-copy"><%=@property.description%></p>
</section>
<% if @property.features.any? %>
  <section class="ficha-caracteristicas">
    <h2 class="ficha-caracteristicas-title">Características</h2>
    <div class="ficha-caracteristicas-lists">
      <ul class="caracteristicas-list m-r-6em">
        <% @property.features.each do |f| %>
          <li class="caracteristicas-item"><%=f.feature%></li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>
<% if @property.flat.present? || @property.video.present? %>
  <section class="ficha-planos">
    <% if @property.flat.present? %>
      <div class="ficha-planos-box">
        <h2 class="ficha-planos-title">Planos de la propiedad</h2>
        <div class="ficha-planos-img-container"><img src="<%= @property.flat.url %>" class="ficha-planos-img"></div>
      </div>
    <% end %>
    <% if @property.video.present? %>
      <div class="ficha-video-box">
        <h2 class="ficha-video-title">Video</h2>
        <div class="ficha-video">
          <iframe src="<%= @property.video %>" frameborder="0" allowfullscreen class="ficha-video-iframe"></iframe>
        </div>
      </div>
    <% end %>
  </section>
<% end %>  
<section class="compartir"> 
  <h2 class="compartir-title">Compartir en redes sociales</h2>
  <div class="compartir-redes">
    <a href="https://www.facebook.com/sharer/sharer.php?u=<%=request.url%>" target="popup"
    onClick="window.open(this.href, this.target, 'width=600,height=400, top=200, left=300'); return false;"
    title="Compartir en Facebook" class="compartir-redes-fb">
    <span class="icon-facebook m-r-5"></a>
    <a href="http://twitter.com/share?url=<%=request.url%>&text=Iproponline&via=Iprop&hashtags=iprop"
    target="popup" onClick="window.open(this.href, this.target, 
    'width=600,height=400, top=200, left=300'); return false;" 
    title="Tweet" class="compartir-redes-twitter">
    <span class="icon-twitter m-r-5"></span></a>
    <a href="https://plus.google.com/share?url=<%= request.url%>" 
    target="popup" onClick="window.open(this.href, this.target, 
    'width=600,height=400, top=200, left=300'); return false;" 
    title="Compartir en Google+" class="compartir-redes-google">
    <span class="icon-google m-r-5"></span></a>
    <div class="compartir-redes-youtube"><a href="https://www.youtube.com/channel/UC62tijVTTlk8hmFZmHJeGlA" target="blank">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="27" height="32" viewBox="0 0 27 32">
    <path fill="#4a4a4a" id="facebook" d="M17.339 22.214v3.768q0 1.196-0.696 1.196-0.411 0-0.804-0.393v-5.375q0.393-0.393 0.804-0.393 0.696 0 0.696 1.196zM23.375 22.232v0.821h-1.607v-0.821q0-1.214 0.804-1.214t0.804 1.214zM6.125 18.339h1.911v-1.679h-5.571v1.679h1.875v10.161h1.786v-10.161zM11.268 28.5h1.589v-8.821h-1.589v6.75q-0.536 0.75-1.018 0.75-0.321 0-0.375-0.375-0.018-0.054-0.018-0.625v-6.5h-1.589v6.982q0 0.875 0.143 1.304 0.214 0.661 1.036 0.661 0.857 0 1.821-1.089v0.964zM18.929 25.857v-3.518q0-1.304-0.161-1.768-0.304-1-1.268-1-0.893 0-1.661 0.964v-3.875h-1.589v11.839h1.589v-0.857q0.804 0.982 1.661 0.982 0.964 0 1.268-0.982 0.161-0.482 0.161-1.786zM24.964 25.679v-0.232h-1.625q0 0.911-0.036 1.089-0.125 0.643-0.714 0.643-0.821 0-0.821-1.232v-1.554h3.196v-1.839q0-1.411-0.482-2.071-0.696-0.911-1.893-0.911-1.214 0-1.911 0.911-0.5 0.661-0.5 2.071v3.089q0 1.411 0.518 2.071 0.696 0.911 1.929 0.911 1.286 0 1.929-0.946 0.321-0.482 0.375-0.964 0.036-0.161 0.036-1.036zM14.107 9.375v-3.75q0-1.232-0.768-1.232t-0.768 1.232v3.75q0 1.25 0.768 1.25t0.768-1.25zM26.946 22.786q0 4.179-0.464 6.25-0.25 1.054-1.036 1.768t-1.821 0.821q-3.286 0.375-9.911 0.375t-9.911-0.375q-1.036-0.107-1.83-0.821t-1.027-1.768q-0.464-2-0.464-6.25 0-4.179 0.464-6.25 0.25-1.054 1.036-1.768t1.839-0.839q3.268-0.357 9.893-0.357t9.911 0.357q1.036 0.125 1.83 0.839t1.027 1.768q0.464 2 0.464 6.25zM9.125 0h1.821l-2.161 7.125v4.839h-1.786v-4.839q-0.25-1.321-1.089-3.786-0.661-1.839-1.161-3.339h1.893l1.268 4.696zM15.732 5.946v3.125q0 1.446-0.5 2.107-0.661 0.911-1.893 0.911-1.196 0-1.875-0.911-0.5-0.679-0.5-2.107v-3.125q0-1.429 0.5-2.089 0.679-0.911 1.875-0.911 1.232 0 1.893 0.911 0.5 0.661 0.5 2.089zM21.714 3.054v8.911h-1.625v-0.982q-0.946 1.107-1.839 1.107-0.821 0-1.054-0.661-0.143-0.429-0.143-1.339v-7.036h1.625v6.554q0 0.589 0.018 0.625 0.054 0.393 0.375 0.393 0.482 0 1.018-0.768v-6.804h1.625z"></path></a></svg></div>
  </div>
</section>
<section class="ficha-contacto">
  <div class="contact_messages">
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
  <div class="ficha-contacto-wrap">
    <%= form_for :contact_form, url: properties_contact_path, html: {class: "ficha-contacto-form"} do |message| %>
      <label required class="contacto-form-label">Nombre:</label>
      <%= message.text_field :name, class: "contacto-form-input" %><br>
      <label required class="contacto-form-label">E-mail:</label>
      <%= message.email_field :email, class: "contacto-form-input"%><br>
      <label required class="contacto-form-label">Teléfono:</label>
      <%= message.text_field :phone, class: "contacto-form-input"%><br>
      <%= message.text_area :message, class: "contacto-form-input", rows: "5", cols: "50"%>
      <%= button_tag 'Enviar', class: "contacto-form-button", data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Enviando..."} %>
    <% end %>
    <div class="ficha-mapa">
      <div id="map" data-latitude="<%= @property.latitude %>" 
      data-longitude="<%= @property.longitude %>" 
      data-markerName="Mark"></div>
    </div>
  </div>
  <div class="ficha-street">
    <div id="street-view" data-latitude="<%= @property.latitude %>" 
    data-longitude="<%= @property.longitude %>" 
    data-markerName="Mark"></div>
  </div>
</section>
<%= render partial:'shared/footer' %>

<!-- Goole maps -->
<script type="text/javascript">
  $(document).ready(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {
        draggable: false,
        zoomControl: false,
        scrollwheel: false,
        disableDoubleClickZoom: true,
        disableDefaultUI: true
      }, 
    internal: {id: "map"}}, function(){
      markers = handler.addMarkers([
        {
          lat: $("#map").data('latitude'),
          lng: $("#map").data('longitude')
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(16);
    });
    var panorama = new google.maps.StreetViewPanorama(
    document.getElementById('street-view'),
      {
        position: {lat: $("#street-view").data('latitude'), lng: $("#street-view").data('longitude')},
        pov: {heading: 200, pitch: 0},
        zoom: 1
      });
  })
</script>