<header class="header">
  <nav id="nav" class="header-nav">
    <label for="show-menu" class="show-menu">Menu</label>
    <input id="show-menu" type="checkbox" role="button">
    <div class="header-responsive-logo"><img src="<%= image_path('logo.png') %>" class="header-logo-img"></div>
    <div class="header-responsive-phone">
      <div class="icon-phone header-icon"> </div>
      <div class="header-list-item-phone">11 5643 7885</div>
    </div>
    <ul id="menu" class="header-list">
      <li class="header-logo-container"><a href="/"><img src="<%= image_path('logo.png') %>" class="header-logo-img"></a></li>
      <li class="header-list-item"><a href="/iprop-online" class="header-list-item-link">Iprop Online</a></li>
      <li class="header-list-item"><a href="/tasaciones" class="header-list-item-link">Tasaciones</a></li>
      <li class="header-list-item"><a href="/empresa" class="header-list-item-link">Empresa</a></li>
      <li class="header-list-item"><a href="/consultoria" class="header-list-item-link">Consultoría</a></li>
      <li class="header-list-item"><a href="/contacto" class="header-list-item-link">Contacto</a></li>
      <li class="header-list-item">
        <div class="icon-phone header-icon"> </div>
        <div class="header-list-item-phone">11 4776 7176      </div>
      </li>
    </ul>
  </nav>
</header>
<section class="ficha">
  <div class="ficha-header">
    <p class="ficha-header-state">Departamento en venta</p>
    <h2 class="ficha-header-title"><%=@property.title%></h2>
    <p class="ficha-header-direccion"><%= @property.address.split(',')[0] %> - <%= @property.address.split(',')[1]%></p>
  </div>
  <div class="ficha-slider-wrap">
    <div class="ficha-slider-controls">
      <span id="prev" class="ficha-slider-controls-prev">
      <img src="<%= image_path('left-arrow.png') %>"></span>
      <span id="next" class="ficha-slider-controls-next">
      <img src="<%= image_path('right-arrow.png') %>"></span>
    </div>
    <div data-cycle-prev="#prev" data-cycle-next="#next" class="slider cycle-slideshow ficha-slider">
      <% if @property.pic_1.file? %>
        <img src="<%= @property.pic_1.url %>" class="photo-slider-img">
      <% end %>  
      <% if @property.pic_2.file? %>
        <img src="<%= @property.pic_2.url %>" class="photo-slider-img">
      <% end %>
      <% if @property.pic_3.file? %>
        <img src="<%= @property.pic_3.url %>" class="photo-slider-img">
      <% end %>
      <% if @property.pic_4.file? %>
        <img src="<%= @property.pic_4.url %>" class="photo-slider-img">
      <% end %>
      <% if @property.pic_5.file? %>
        <img src="<%= @property.pic_5.url %>" class="photo-slider-img">
      <% end %>
      <% if @property.pic_6.file? %>
        <img src="<%= @property.pic_6.url %>" class="photo-slider-img">
      <% end %>
      <% if @property.pic_7.file? %>
        <img src="<%= @property.pic_7.url %>" class="photo-slider-img">
      <% end %>
      <% if @property.pic_8.file? %>
        <img src="<%= @property.pic_8.url %>" class="photo-slider-img">
      <% end %>
    </div>
  </div>
  <div class="ficha-acciones">
    <div class="ficha-acciones-compartir">Compartir</div>
    <%= link_to 'Ver en PDF', property_path(@property, :format => :pdf), target: "_blank", class: "ficha-acciones-imprimir" %>
  </div>
</section>
<section class="ficha-descripcion">
  <h2 class="ficha-descripcion-title">Descripción</h2>
  <p class="ficha-descripcion-short">
    <% if @property.bedrooms.present? %>
      <strong><%=@property.bedrooms%></strong> Dormitorios  / 
    <% end %>
    <% if @property.bathrooms.present? %>
      <strong><%=@property.bathrooms%></strong> Baño  / 
    <% end %>
    <strong><%=@property.size%></strong> mts2 
  </p>
  <p class="ficha-descripcion-copy"><%=@property.description%></p>
</section>
<% if @property.features.any? %>
  <section class="ficha-caracteristicas">
    <h2 class="ficha-caracteristicas-title">Características</h2>
    <div class="ficha-caracteristicas-lists">
      <ul class="caracteristicas-list m-r-6em">
        <% @property.features.each do |f| %>
          <li class="caracteristicas-item"><%=f.feature%></li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>
<% if @property.bedrooms.present? %>
  <section class="ficha-planos">
    <h2 class="ficha-planos-title">Planos de la propiedad</h2>
    <div class="ficha-planos-img-container"><img src="<%= @property.flat.url %>" class="ficha-planos-img"></div>
  </section>
  <section class="ficha-mapa">
    <div>
       <div id="map" data-latitude="<%= @property.latitude %>" 
       data-longitude="<%= @property.longitude %>" 
       data-markerName="Mark"></div>
     </div>
  </section>
<% end %>  
<footer class="footer">
  <div class="footer-column2 m-r-5">
    <ul class="footer-list">
      <li class="footer-item"> 
        <div class="footer-item-icon icon-phone"> </div>
        <p class="footer-item-text">(11) 4776‐7176</p>
      </li>
      <li class="footer-item"> 
        <div class="footer-item-icon icon-envelope"> </div>
        <p class="footer-item-text">info@iproponline.com.ar</p>
      </li>
      <li class="footer-item"> 
        <div class="footer-item-icon icon-location"></div>
        <p class="footer-item-text">Teodoro García 1721<br>Of. 704 (C1426DMC) <br>C.A.B.A.</p>
      </li>
    </ul>
  </div>
  <div class="footer-column1 m-r-5">
    <p class="footer-contact">Iprop es una marca registrada de Nestor H. Royo </p>
    <p class="footer-contact">Nestor H. Royo – Matrícula N°</p>
    <div class="footer-img-cuci"><img src="<%= image_path('cucicba.png') %>" class="footer-img"></div>
  </div>
  <div class="footer-column1">
    <div class="footer-img-qr"><a href="http://qr.afip.gob.ar/?qr=5JvULkrJij4qBY0ljYW3NA,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0" width="100px" margin-top="19px"></a></div>
  </div>
</footer>
<div class="footer-copyright">
  <p> © Nestor H. Royo 2016</p>
</div>

<!-- Goole maps -->
<script type="text/javascript">
  $(document).ready(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {
        maxZoom: 17, 
        minZoom: 13
      }, 
    internal: {id: "map"}}, function(){
      markers = handler.addMarkers([
        {
          "lat": $("#map").data('latitude'),
          "lng": $("#map").data('longitude'),
          "picture": {
            "url": "https://mt.google.com/vt/icon?psize=20&font=fonts/Roboto-Regular.ttf&color=ff330000&name=icons/spotlight/spotlight-waypoint-blue.png&ax=44&ay=48&scale=1&text=%E2%80%A2",
            "width":  40,
            "height": 40
          }
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(15);
    });
  })
</script>