<% content_for :head do %>
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:type" content="article" />
  <meta property="og:site_name" content="iproponline" />
  <meta property="og:title" content="<%= @property.title %>">
  <meta property="og:description" content="<%= @property.description[0,200] %>...">
  <meta property="og:image" content="<%= @property.pic_1.url(:medium) %>" />
  <meta property="og:title" content="ContWeb">
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '648748478636283');
    fbq('track', "PageView");
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=648748478636283&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
<% end %>
<header class="header">
  <nav id="nav" class="header-nav">
    <label for="show-menu" class="show-menu">Menu</label>
    <input id="show-menu" type="checkbox" role="button">
    <div class="header-responsive-logo"><a href="/"><img alt="logo" src="<%= image_path('logo.png') %>" class="header-logo-img"></a></div>
    
    <ul id="menu" class="header-list">
      <li class="header-logo-container"><a href="/"><img alt="logo" src="<%= image_path('logo.png') %>" class="header-logo-img"></a></li>
      <li class="header-list-item"><a href="/" class="header-list-item-link">Home</a></li>
      <li class="header-list-item"><a href="/propiedades" class="header-list-item-link">Propiedades</a></li>
      <li class="header-list-item"><a href="/tasaciones" class="header-list-item-link">Tasaciones</a></li>
      <li class="header-list-item"><a href="/empresa" class="header-list-item-link">Empresa</a></li>
      <li class="header-list-item"><a href="/consultoria" class="header-list-item-link">Consultoría</a></li>
      <li class="header-list-item"><a href="/contacto" class="header-list-item-link">Contacto</a></li>
      
    </ul>
  </nav>
</header>
<section class="ficha">
  <div class="ficha-header">
    <div class="ficha-header-wrap">
      <p class="ficha-header-state"><%= @property.operation %></p>
      <h2 class="ficha-header-title"><%=@property.title%></h2>
      <p class="ficha-header-direccion"><%= @property.address.split(',')[0] %> - <%= @property.address.split(',')[1]%>
      <% if @property.location %>
        <p class="ficha-header-direccion"><%= @property.location.split(',')[0] %></p>
      <% end %>
    </div>
    <% if @property.price.present? || @property.price_ars.present? %>
      <% if @property.price.present? %>
        <h2 class="ficha-header-price">U$S<%= number_with_delimiter(@property.price, delimiter: ".") %></h2>
      <% else %>
        <h2 class="ficha-header-price">$<%= number_with_delimiter(@property.price_ars, delimiter: ".") %></h2>
      <% end %>
    <% else %>
      <h2 class="ficha-header-price">Consultar</h2>
    <% end %>
  </div>
  <div class="ficha-tags">
    <div class="ficha-tags-icon"><img alt="tag" src="<%=image_path('tag.png')%>" class="ficha-tags-icon-img"></div>
    <% @property.tags.each do |tag| %>
      <%= form_tag properties_path, method: 'post', class: "ficha-tags-item" do %>
        <%= text_field_tag :property_type, params[:property_type], value: "#{tag.name}", type: "hidden" %>
        <%= button_tag "#{tag.name}", type: "submit", name: nil %>
      <% end %>
    <% end %>
  </div>
  <div class="ficha-slider-wrap">
    <div class="ficha-slider-controls">
      <span id="prev" class="ficha-slider-controls-prev">
      <img alt="left-arrow" src="<%= image_path('left-arrow.png') %>"></span>
      <span id="next" class="ficha-slider-controls-next">
      <img alt="right-arrow" src="<%= image_path('right-arrow.png') %>"></span>
    </div>
    <div data-cycle-prev="#prev" data-cycle-next="#next" class="slider cycle-slideshow ficha-slider">
      <% if @property.pic_1.file? %>
        <img alt="property-image" src="<%= @property.pic_1.url %>" class="ficha-slider-img">
      <% end %>  
      <% if @property.pic_2.file? %>
        <img alt="property-image" src="<%= @property.pic_2.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_3.file? %>
        <img alt="property-image" src="<%= @property.pic_3.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_4.file? %>
        <img alt="property-image" src="<%= @property.pic_4.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_5.file? %>
        <img alt="property-image" src="<%= @property.pic_5.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_6.file? %>
        <img alt="property-image" src="<%= @property.pic_6.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_7.file? %>
        <img alt="property-image" src="<%= @property.pic_7.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_8.file? %>
        <img alt="property-image" src="<%= @property.pic_8.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_9.file? %>
        <img alt="property-image" src="<%= @property.pic_9.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_10.file? %>
        <img alt="property-image" src="<%= @property.pic_10.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_11.file? %>
        <img alt="property-image" src="<%= @property.pic_11.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_12.file? %>
        <img alt="property-image" src="<%= @property.pic_12.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_13.file? %>
        <img alt="property-image" src="<%= @property.pic_13.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_14.file? %>
        <img alt="property-image" src="<%= @property.pic_14.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_15.file? %>
        <img alt="property-image" src="<%= @property.pic_15.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_16.file? %>
        <img alt="property-image" src="<%= @property.pic_16.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_17.file? %>
        <img alt="property-image" src="<%= @property.pic_17.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_18.file? %>
        <img alt="property-image" src="<%= @property.pic_18.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_19.file? %>
        <img alt="property-image" src="<%= @property.pic_19.url %>" class="ficha-slider-img">
      <% end %>
      <% if @property.pic_20.file? %>
        <img alt="property-image" src="<%= @property.pic_20.url %>" class="ficha-slider-img">
      <% end %>
    </div>
  </div>
  <div class="ficha-acciones">
    <%= link_to 'Imprimir ficha', property_path(@property, format: :pdf), target: "_blank", class: "ficha-acciones-imprimir" %>
    <button type="button" class="ficha-acciones-imprimir" data-toggle="modal" data-target="#myModal">Enviar a un amigo</button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="send-to-friend-messages"></div>
          <div class="modal-body">
            <%= form_for :send_to_friend_form, url: send_to_friend_path, html: {class: "ficha-contacto-form send-to-friend-form"}, remote: true do |message| %>
              <label required class="contacto-form-label">Tu nombre completo:</label>
              <%= message.text_field :sender, class: "contacto-form-input" %><br>
              <label required class="contacto-form-label">E-mail del destinatario:</label>
              <%= message.email_field :friend_email, class: "contacto-form-input"%>
              <%= message.text_field :url, value: "#{request.url}", hidden: true %>
              <%= button_tag 'Enviar', class: "contacto-form-button", data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Enviando..."} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ficha-descripcion">
  <h2 class="ficha-descripcion-title">Descripción</h2>
  <p class="ficha-descripcion-short">
    <% if @property.bedrooms.present? %>
      <% if @property.bedrooms == 1 %>
        <strong><%=@property.bedrooms%></strong> Dormitorio / 
      <% else %>
        <strong><%=@property.bedrooms%></strong> Dormitorios / 
      <% end %>    
    <% end %>
    <% if @property.bathrooms.present? %>
      <% if @property.bathrooms == 1 %>
        <strong><%=@property.bathrooms%></strong> Baño / 
      <% else %>
        <strong><%=@property.bathrooms%></strong> Baños / 
      <% end %>  
    <% end %>
    <strong><%=@property.size%></strong> mts2 
  </p>
  <p class="ficha-descripcion-copy"><%=@property.description%></p>
</section>
<% if @property.features.any? %>
  <section class="ficha-caracteristicas">
    <h2 class="ficha-caracteristicas-title">Características</h2>
    <div class="ficha-caracteristicas-lists">
      <ul class="caracteristicas-list m-r-6em">
        <% @property.features.each do |f| %>
          <li class="caracteristicas-item"><%=f.feature%></li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>
<% if @property.flat.present? || @property.video.present? %>
  <section class="ficha-planos">
    <% if @property.flat.present? %>
      <div class="ficha-planos-box">
        <h2 class="ficha-planos-title">Planos de la propiedad</h2>
        <div class="ficha-planos-img-container"><img src="<%= @property.flat.url %>" class="ficha-planos-img"></div>
      </div>
    <% end %>
    <% if @property.video.present? %>
      <div class="ficha-video-box">
        <h2 class="ficha-video-title">Video</h2>
        <div class="ficha-video">
          <iframe src="<%= @property.video %>" frameborder="0" allowfullscreen class="ficha-video-iframe"></iframe>
        </div>
      </div>
    <% end %>
  </section>
<% end %>  
<section class="compartir"> 
  <%= render 'shared/social_media' %>
</section>
<section class="ficha-contacto">
  <div class="contact_messages">
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
  <div class="ficha-contacto-wrap">
    <%= form_for :contact_form, url: properties_contact_path, html: {class: "ficha-contacto-form"} do |message| %>
      <label required class="contacto-form-label">Nombre:</label>
      <%= message.text_field :name, class: "contacto-form-input" %><br>
      <label required class="contacto-form-label">E-mail:</label>
      <%= message.email_field :email, class: "contacto-form-input"%><br>
      <label required class="contacto-form-label">Teléfono:</label>
      <%= message.text_field :phone, class: "contacto-form-input"%><br>
      <%= message.text_area :message, class: "contacto-form-input", rows: "5", cols: "50"%>
      <%= button_tag 'Enviar', class: "contacto-form-button", data: { disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Enviando..."} %>
    <% end %>
    <div class="ficha-mapa">
      <div id="map" data-latitude="<%= @property.latitude %>" 
      data-longitude="<%= @property.longitude %>" 
      data-markerName="Mark"></div>
    </div>
  </div>
  <div class="ficha-street">
    <div id="street-view" data-latitude="<%= @property.latitude %>" 
    data-longitude="<%= @property.longitude %>" 
    data-markerName="Mark"></div>
  </div>
</section>
<%= render partial:'shared/footer' %>

<!-- Goole maps -->
<script type="text/javascript">
  $(document).ready(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {
        draggable: false,
        zoomControl: false,
        scrollwheel: false,
        disableDoubleClickZoom: true,
        disableDefaultUI: true
      }, 
    internal: {id: "map"}}, function(){
      markers = handler.addMarkers([
        {
          lat: $("#map").data('latitude'),
          lng: $("#map").data('longitude')
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(16);
    });
    var panorama = new google.maps.StreetViewPanorama(
    document.getElementById('street-view'),
      {
        position: {lat: $("#street-view").data('latitude'), lng: $("#street-view").data('longitude')},
        pov: {heading: 200, pitch: 0},
        zoom: 1
      });
  })
</script>