<% content_for :head do %>
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:type" content="article" />
  <meta property="og:site_name" content="iproponline" />
  <meta property="og:title" content="<%= @post.title %>">
  <meta property="og:description" content="<%= Nokogiri::HTML(@post.body[0,200]).text %>...">
  <meta property="og:image" content="<%= @post.image.url %>" />
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '648748478636283');
    fbq('track', "PageView");
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=648748478636283&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
<% end %>
<header class="header">
  <nav id="nav" class="header-nav">
    <label for="show-menu" class="show-menu">Menu</label>
    <input id="show-menu" type="checkbox" role="button">
    <div class="header-responsive-logo"><a href="/"><img alt="logo" src="<%= image_path('logo.png') %>" class="header-logo-img"></a></div>
    
    <ul id="menu" class="header-list">
      <li class="header-logo-container"><a href="/"><img alt="logo" src="<%= image_path('logo.png') %>" class="header-logo-img"></a></li>
      <li class="header-list-item"><a href="/" class="header-list-item-link">Home</a></li>
      <li class="header-list-item"><a href="/propiedades" class="header-list-item-link">Propiedades</a></li>
      <li class="header-list-item"><a href="/tasaciones" class="header-list-item-link">Tasaciones</a></li>
      <li class="header-list-item"><a href="/empresa" class="header-list-item-link">Empresa</a></li>
      <li class="header-list-item"><a href="/consultoria" class="header-list-item-link">Consultoría</a></li>
      <li class="header-list-item"><a href="/contacto" class="header-list-item-link">Contacto</a></li>
      
    </ul>
  </nav>
</header>
<section class="novedades-inside">
  <h1 class="novedades-inside-title">Novedades</h1>
  <article class="novedades-inside-article">
    <header class="novedades-inside-header">
      <h2 class="novedades-inside-header-title"><%= @post.title %></h2>
      <h4 class="novedades-inside-header-subtitle"><%= @post.subtitle %></h4>
      <p class="novedades-inside-date"> <span class="icon-clock"> </span><%= l @post.created_at, format: "%B %d - %Y, %H:%M" %></p>
    </header>
    <div class="novedades-inside-img-container"><img alt="post-image" src="<%= @post.image.url %>" class="novedades-inside-img"></div>
    <p class="novedades-inside-copy"><%= raw(@post.body) %></p>
  </article>  
  <aside class="novedades-aside">
    <h3 class="novedades-aside-title">Más novedades</h3>
    <div class="novedades-aside-item-wrap">
      <% @posts.each do |post| %>
        <div class="novedades-aside-item">
          <h4 class="novedades-aside-item-title"><%= link_to post.title, post_path(post) %></h4>
          <p class="novedades-aside-item-date"> <span class="icon-clock"> </span><%= l post.created_at, format: "%B %d - %Y, %H:%M" %></p>
        </div>
      <% end %>
    </div>
  </aside>
</section>
<novedades-inside-aside class="jade"></novedades-inside-aside>
<section class="compartir"> 
  <%= render 'shared/social_media' %>
</section>
<%= render partial:'shared/footer' %>