<p>Nombre: <%= @message.name %></p>
<p>Email: <%= @message.email %></p>
<p>Telefono: <%= @message.phone %></p>
<p>Dirección: <%= @message.address %></p>
<p>Superficie(m2): <%= @message.size %></p>
<p>Cantidad de ambientes: <%= @message.rooms_amount %></p>
<p>Comentarios: <%= @message.comments %></p>